name: kirim-kirim 3
on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:
jobs:
  UpdateSub:
    runs-on: ubuntu-latest

    steps:
      - name: Check The Code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install python-telegram-bot==13.15 requests
      - name: Get Files
        run: |
          curl -o 1.txt -LJO 'https://gen.trexmedia.eu.org/?template=vless&domain=5412.us.to&data=https://raw.githubusercontent.com/FoolVPN-ID/Nautica/refs/heads/main/proxyList.txt'
          curl -o 2.txt -LJO 'https://gen.trexmedia.eu.org/?template=trojan&domain=kclx.eu.org&data=https://raw.githubusercontent.com/FoolVPN-ID/Nautica/refs/heads/main/proxyList.txt'
          curl -o 3.txt -LJO 'https://gen.trexmedia.eu.org/?template=trojan&domain=herokumail.eu.org&data= https://raw.githubusercontent.com/FoolVPN-ID/Nautica/refs/heads/main/proxyList.txt'
          
      - name: send to telegram
        run: |
          python3 kirim.py ${{ secrets.BOT2 }} -1002292042831 1.txt && python3 kirim.py ${{ secrets.BOT2 }} -1002292042831 2.txt && python3 kirim.py ${{ secrets.BOT2 }} -1002292042831 3.txt && python3 kirim.py ${{ secrets.BOT2 }} -1002292042831 4.txt
